html
    head
        title=name
    body
        div
            form( action='/' , method='POST')
                label(for = 'First Name' ) Enter the First Name
                br
                input(name='fn' value='')
                br
                label(for = 'Last Name' ) Enter the Last Name
                br
                input(name='ln' value='')
                br
                button(type='submit') Send Now