<%- include('header'); -%>
<div style="height:300px;padding-top:30px;" align="center">
    <div style="padding-left:20px;">
        <div class="row"  >
            <div class="col-md-12" > <h1>First Name : <%= fname %></h1></div>
        </div>
        <div class="row" >
            <div class="col-md-12" > <h1>Last   Name : <%= lname %></h1></div>
        </div>

    </div>
</div>

<%- include('footer'); -%>