<%- include('header'); -%>
<div style="height:300px">
    <div style="padding-left:20px;">
        <div class="row"  align="left">
            <div class="col-md-6" > <h1>First Name : <%= fname %></h1></div>
        </div>
        <div class="row" align="left">
            <div class="col-md-6" > <h1>Last Name : <%= lname %></h1></div>
        </div>

    </div>
</div>

<%- include('footer'); -%>