<%- include('header') -%>
<div style="padding-top:30px;height:300px;">
    <div class="row" align="center" style="border:1px solid">
        <h1> User Active : <b style="color:Green">Apoorve </b> <a href="/logout"> <b style="color:red;text-decoration: none; padding-left:10px;">Logout</b></a></h1>
    </div>

</div>
<%- include('footer') -%>